<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/icon.png"/>

</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/icon.png" alt="face logo"/></a>
    <div class="navlink">{{username}}</div>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="profile"></section>
  <section id="images"></section>
    <section id="change"></section>

  <script src="/assets/bundle.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</body>
</html>
